.inspector-div {
    height: 100vh;
    text-align: center;
    width: 25%;
    background-color: grey;
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.15s ease;
}

.inspector-div-hide {
    display: none;
}

.graph {
    // position: absolute;
    display: flex !important;
}

.contextMenu{
    position: absolute;
    display: none;
}

.contextMenuEdge{
    position: absolute;
    display: none;
}



